.w-panel.wmt-title {
  input {
    font-size: 2.5rem;
    font-weight: bold;
    border-radius: 0;
    border-style: none none solid none;
    padding: 0;

  }

  input::focus-visible {
    border-style: none none solid none;
  }

  :first-child .w-field {
    display: grid;
  }

  :first-child .w-field__help {
    order: 2;
  }
}

@media screen and (max-width:70em) {
  div.locale-picker {
    display: none;
  }

}

@media screen and (min-width:70em) {
  div.locale-picker ul {
    display: inline-flex;
    list-style-type: none;

    li {
      text-align: center;
      text-transform: uppercase;

      label.button {
        opacity: 0.5;
        font-weight: bold;
        display: inline;
        padding: .5em .5em;
        margin: 0em .2em;
      }

      label.button:has(input[type="checkbox"]:not(disabled):checked) {
        opacity: 1.0;
      }

      label.button:hover {
        opacity: 0.75;
      }
    }
  }

  .w-form-width section:has(span.w-required-mark) {
    display: block;
  }
}

.locale-picker-checkbox {
  display: none;
}

.w-panel__header:after,
.w-field__label:after {
  color: white;
  text-transform: uppercase;
  padding: 0 0.4rem;
  border-radius: 2px;
  font-size: .7rem;
  font-weight: bold;
  float: right;
}