{% for file in includes %}<link rel="stylesheet" href="{{file}}" />
{% endfor %}
<style>
@media screen and (min-width:70em) {

{% for lang in lang_infos %}.content [lang="{{lang.code}}"]{% if not forloop.last %},{% endif %}
{% endfor %}  { display: none; }
{% for lang in lang_infos %}    :has(#{{lang.code}}_checkbox:checked) .content [lang="{{lang.code}}"]{% if not forloop.last %},{% endif %}
{% endfor %}  {
        display: block;
    }
}
{% for lang in lang_infos %}
{% if lang.background_color %}label.button:has(#{{ lang.code }}_checkbox) { background-color: {{ lang.background_color }}; border-color: {{ lang.border_color }}; }
{% endif %}{% endfor %}
.content {
  {% for lang in lang_infos %}[lang="{{lang.code}}"] label:after {
    content: "{{lang.name_local}}";
    {% if lang.background_color %}background-color: {{ lang.background_color }}; border-color: {{ lang.border_color }};{% endif %}
  }{% endfor %}
}
</style>